/* Nav Bar CSS */


/* Header CSS */
h1{
    color: purple;
    }
body{
    background-color: black;

}
.carousel-item{
    height:900px;
    width: 630px;
}
.navbar{
    opacity: 0.2;
    filter: brightness(0.9);
}
/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


